<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  {{!-- dream is to use dis [local version] instead
  <link rel="stylesheet" href="/node_modules/tui-calendar/dist/tui-calendar.css" type="text/css" integrity=""
        crossorigin="">
  <script src="/node_modules/tui-calendar/dist/tui-calendar.js"></script>--}}
  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />

  <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
  <script src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js"></script>
  <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
  <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
  <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>



  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js">
  </script>
  <style>
 input[type=file]{
    width:55px;
    height:18px;
    font-size:10px;
    color:transparent;
}
.toppad
{margin-top:20px;
}
    #mapid {
      width: 160px;
      height: 500px;
    }
     /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
  </style>

  <title>Burns Hospital</title>
</head>

<body>
<header class="inner">
  <h2><a href="/"><i class="fas fa-code"></i>
    Burns Hospital</a></h2>
  <nav>
    <ul>
      <li>
        <a href="/">Acasă</a>
      </li>
      <li>
        <a href="/foaie_observatie/allFiles">Toate foile de observație</a>
      </li>
      <li>
        <a href="/pacients">Pacienți</a>
      </li>
      <li>
        <a href="/users">Utilizatori</a>
      </li>
    </ul>
  </nav>
</header>

<div class="container" id="container" >
  {{{body}}}
</div>
</body>

</html>