<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  {{!-- dream is to use dis [local version] instead
  <link rel="stylesheet" href="/node_modules/tui-calendar/dist/tui-calendar.css" type="text/css" integrity=""
    crossorigin=""> 
    <script src="/node_modules/tui-calendar/dist/tui-calendar.js"></script>--}}
  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />

  <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
  <script src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js"></script>
  <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
  <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
  <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>



  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js">
  </script>
  {{!-- <style>
    #mapid {
      width: 160px;
      height: 500px;
    }
  </style> --}}

  <title>Sum App</title>
</head>

<body>
  <header class="inner">
    <h2><a href="/"><i class="fas fa-code"></i>
        Sum App</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/circles">All Circles</a>
        </li>
        <li>
          <a href="/users">All Users</a>
        </li>
        <li>
          <a href="/circles/add">Add Circle</a>
        </li>
        <li>
          <a href="/users/adduser">Add User</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="container" >
    {{{body}}}
  </div>
</body>

</html>