<section id="search" class="search-wrap">
  <h1>Găsește un pacient</h1>
  <form action="/pacients" class="search-form">
    <i class="fas fa-search"></i>
    <input type="search" name="numefamilie" placeholder="Numele pacientului">
    <input type="submit" value="Caută">
  </form>
</section>