<section id="search" class="search-wrap">
  <h1>Find A Meeting</h1>
  <form action="/meetings/search" class="search-form">
    <i class="fas fa-search"></i>
    <input type="search" name="term" placeholder="name of the meeting">
    <input type="submit" value="Search">
  </form>
</section>