@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
  --primary-color: #568c9b;
  --primary-hover-color: #64a5b7;
  --bg-color: #333;
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);

  --palette-dark-red: #a70320;
  --palette-red: #d90429;
  --palette-light-red: #ef233c;
  --palette-white: #edf2f4;
  --palette-light-grey: #bac1ce;
  --palette-grey: #8d99ae;
  --palette-black: #2b2d42;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #333;
  background: #f4f4f4;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.container {
  max-width: 1260px;
  padding: 1rem 4rem;
  margin: auto;
  overflow: hidden;
}

.dottedSpan {
  font-size: 18px;
  font-weight: bold;
  border-style: none none dotted none;
  display: inline;
}

.error {
  padding: 5px;
  border: #777 dotted 1px;
  margin-bottom: 15px;
}

/* Header */
header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 1rem;
}

/* Login Button Spacing */
/*header nav li:last-child {
  margin-left: -5px;
}*/

header.inner {
  background: var(--palette-black);
  border-bottom: 4px solid #ef233c;
  position: relative;
  /* box-shadow: var(--box-shadow);*/
}

header.inner a {
  color: #fff;
}

/* Buttons */
.btn {

  color: #fff;
  padding: 0.6rem;
  border: 1px solid #ccc;
  transition: all 0.7s;
}

.btn:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}

.btn-reverse {
  background-color: var(--palette-black);
  border: 3px solid var(--palette-red);
  border-radius: 10px;
  transition: background-color .15s, border-color .15s;
}

.btn-reverse:hover {
  background-color: var(--palette-dark-red);
  border: 3px solid var(--palette-black);
}

.btn-reverse:active {
  background-color: var(--palette-red);
  border: 3px solid var(--palette-dark-red);
}

/* Home Search */
.search-wrap {
  background: url('../img/showcase.jpg') no-repeat center center fixed / cover;
  height: 100vh;
  width: 100%;
  padding: 1.3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-wrap h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  margin: 0 0 1.5rem;
  text-align: center;
}

.search-form input[type='submit'] {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  padding: 0 2rem;
  cursor: pointer;
  transition: all 0.8s;
}

.search-form input[type='submit']:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
}

.search-form {
  display: flex;
  width: 600px;
  box-shadow: var(--box-shadow);
}

.search-form i {
  color: #333;
}

/* Everything in the search form */
.search-form>* {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
}

input[type='search'] {
  flex-basis: 600px;
}

/* Gigs */
.gig {
  background: var(--bg-color);
  border-bottom: 4px solid var(--primary-color);
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
}

.gig ul {
  list-style: none;
  display: flex;
}

.gig li {
  margin-right: 0.5rem;
  padding: 0.6rem;
}

.gig .tech span {
  color: var(--primary-color);
}

/* Form */
#adduser .form-wrap{
  background-color: var(--palette-black);
}

.form-wrap {
  margin: auto;
  background: var(--palette-black);
  color: var(--palette-white);
  padding: 1rem 3rem 3rem;
  margin-top: 3rem;
  border-bottom: 4px solid var(--palette-red);
  box-shadow: var(--box-shadow);
}

.form-wrap.reg-form,
.form-wrap.login-form {
  width: 60%;
}

.form-wrap h1,
.form-wrap h2,
.form-wrap p {
  text-align: center;
}

.form-wrap .btn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-box {
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1.2rem;
  border-radius: 10px;
}

/* Tablets */
@media (max-width: 800px) {
  .container {
    padding: 1rem 2rem;
  }

  header {
    flex-direction: column;
    padding: 0.3rem !important;
  }

  .search-form {
    width: 100%;
  }

  input[type='search'] {
    flex-basis: 100%;
  }

  .search-wrap h1 {
    font-size: 2rem;
  }

  .search-wrap {
    padding: 2.3rem;
  }

  .gig ul {
    flex-direction: column;
  }

  .gig .btn {
    display: block;
    margin-top: 1rem;
    text-align: center;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 80%;
  }
}

#mapid {
  height: 180px;
  width: 80%;
}

/* #calendar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    top: 64px;
} */
/* Smartphones */
@media (max-width: 500px) {
  .container {
    padding: 1rem;
  }

  header nav li {
    margin: 0 10px;
  }

  .search-form {
    display: flex;
    flex-direction: column;
  }

  input[type='search'] {
    flex-basis: 0;
  }

  .search-form i {
    display: none;
  }

  .form-wrap {
    padding: 1rem 2rem 2rem;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 100%;
  }
}


/*Added by Toma*/

h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #333;
}

h3 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #333;
}

.table.table-user-information {
  text-decoration: underline;
  text-decoration-color: #333;
}

div .tab {
  background-color: var(--palette-black);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-width: 0px;
}

.tab .tablinks {
  color: var(--palette-white);
}

.tab .tablinks:hover {
  background-color: var(--palette-dark-red);
}

.tab .tablinks:active,
.tab .tablinks.active {
  background-color: var(--palette-red);
}

.tabcontent,
#epiEtapa,
#updatedtable,
#addDayDiv,
#buletin table,
#adduser .form-wrap,
#add .form-wrap {
  background-color: var(--palette-light-grey);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#adduser .form-wrap,
#add .form-wrap{
  background-color: var(--palette-black);
}

.tabcontent {
  color: black;
}

.tabcontent table {
  border-collapse: collapse;
}

.tabcontent table tbody tr td {
  border-bottom: #333;
}

/*buletin analize-start*/

#buletin .lab-adress-table,
#buletin .pacient-table,
#buletin .ora-primirii-table,
#buletin .afisare-table {
  background-color: var(--palette-black);
  color: var(--palette-white);
  border: 3px solid var(--palette-red);

}

#buletin div[style="text-align:center"],
#buletin div[style="text-align:right"] {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #333;
}

#buletin div[style="text-align:center"] input {
  border-radius: 5px;
  border-width: 1px;
}

#buletin div[style="text-align:center"] input[type="text"]{
  background-color: var(--palette-white);
}

#buletin .analize-table{
border: 1px solid var(--palette-black);
}

/*
#buletin table tbody tr td[style="background-color: coral;"] {
  border-radius: 10px;
  border-width: 1px;
  border-color: #333;
  border-style: solid;
}

#buletin table[style="width:33%"] {
  border-width: 1px;
  border-color: #333;
  border-style: solid;
}
*/

#buletin table tbody tr td[style="background-color: var(--palette-light-red);"] {
  border: 2px solid var(--palette-black);
  border-radius: 5px;
}

#buletin table tbody tr td[style="border:1px solid black;text-align:center"] {
  background-color: var(--palette-grey);
  color: var(--palette-white);
}
  /*buletin analize-finish*/

  /*adauga pacient-start*/

  #adduser .form-wrap {
    border-radius: 10px;
    border-width: 1px;
    border-color: #333;
    border-style: solid;
  }

  #adduser .form-wrap span,
  #adduser .form-wrap h1 {
    color: var(--palette-white);
  }

  #adduser .form-wrap input[type="button"] {
    color: #333;
  }

  #adduser .form-wrap label {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #333;
    color: red;
  }

  #adduser .form-wrap input[type="submit"] {
    border-radius: 10px;
  }

  /*adauga pacient-finish*/

  /*add circle-start*/

  #add .form-wrap {
    border-radius: 10px;
    border-width: 1px;
    border-color: #333;
    border-style: solid;
  }

  #add .form-wrap span,
  #add .form-wrap h1 {
    color: #333;
  }

  #add .form-wrap input[type="button"] {
    color: #333;
  }

  #add .form-wrap label {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #333;
    color: red;
  }

  #add .form-wrap input[type="submit"] {
    border-radius: 10px;
  }

  /*add circle-finish*/

  input[type='text'] {
    border-radius: 5px;
    border-width: 0px;
  }

  button {
    border-radius: 10px;
    border-width: 1px;
  }

  button:hover {
    background-color: var(--palette-dark-red);
  }

  button:active {
    background-color: var(--palette-red);
    box-shadow: 0px 0px 10px var(--palette-red);
  }

  input[type='button'] {
    background-color: var(--palette-black) !important;
    color: var(--palette-white);
    border-radius: 8px;
    border: 1px solid var(--palette-black);
    transition: background-color .15s, border-color .15s, box-shadow .15s;

  }

  input[type='button']:hover {
    background-color: var(--palette-dark-red) !important;
    border: 1px solid var(--palette-black);
  }

  input[type='button']:active {
    background-color: var(--palette-red) !important;
    border: 1px solid var(--palette-black);
    box-shadow: 0px 0px 10px var(--palette-red);
  }

  .tabcontent select,
  #addDayDiv select {
    border-radius: 5px;
    border-width: 1px;
  }

  #anamneza,
  #recom,
  #urm p,
  #updatedtable,
  #addDayDiv {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #333;
  }

  body,
  select,
  input,
  textarea {
    background-color: var(--palette-white);
  }

  button {
    background-color: #FFFF54;
  }


  input[type="button"] {
    background-color: #8d99ae;
  }

  h4 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #333;
  }

  #dataEpicriza {
    border-radius: 10px;
    border-width: 2px;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
  }

  /* input[type="checkbox"] {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid var(--palette-black);
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #8d99ae;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  border: 1px solid #41B883;
  background-color: #34495E;
} */

  input[type="checkbox"] {
    height: 15px;
    width: 15px;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    accent-color: var(--palette-red);
  }

  .inputfile:focus+label,
  .inputfile+label:hover {
    cursor: pointer;
  }